.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(164, 169, 194, 0.233);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}